.container{
    
    width: 80%;
    background-color: lightcoral;
    margin: auto;
    margin-top: 50px;
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    flex-direction: row;
    justify-content: center;
    justify-content: right;
    justify-content: left;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: end;
    align-items: start;
    align-items: center;
}

.sobraRedondeada{
    border-radius: 10px;
    
    box-shadow: 0 4px 8px grey;
}


.container div{
    background-color: blueviolet;
    width: 10%;
    height: 50px;
}

div p{
    color: white;
    text-align: center;
}

#dos{
    background-image: linear-gradient(blue,violet);
    align-self: flex-start;
    
}