
/*variable global*/
:root{   
    --color-primario:#007bff; /*color de fondo*/
    --font-size-base:22px;
    font-size: 20px;
}

body{
    background-color: var(--color-primario);  
    /*background-image: url('img/bg-register.jpg');*/    
}


h1{font-size: 0.5rem;}

h2{font-size: 1rem;}

h3{font-size: 3rem;}

h1,h2,h3{
    /*color: #39EC2A;*/ 
    color:rgb(57, 236, 42) ;
}


.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  





